:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
  --black-color: #000000;
  --accent-color: #2196f3;
  --focus-btn-color: #188ce8;
  --background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --header-border: #ececec;
  --icon-color: #afb1b8;
  --card-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;

  background: var(--primary-white-color);
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----Шапка сайта----- */
.header {
  display: inline;
  margin-left: auto;
  margin-right: auto;

  width: 1600px;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--black-color);
}

.accent {
  color: var(--accent-color);
}

/* -----Навигация----- */

.header-nav {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  position: relative;
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color var(--duration) var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

/* ------Контакты------ */

.contact.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.contact > .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .item + .item {
  margin-left: 50px;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  transition: color var(--duration) var(--timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
}

.mail-icon,
.phone-icon {
  fill: currentColor;
}

/* -----Герой------ */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg_image.jpg');
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1600px;
  max-height: 600px;
  text-align: center;
  background-color: var(--background-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-btn {
  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  transition: background-color var(--duration) var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--focus-btn-color);
}
/* -----Особливості----- */

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--light-background-color);
}

.section.nopadding {
  padding-bottom: 0;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list {
  display: flex;
}

.feature-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* -----Чим ми займаємося----- */

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.work-list {
  display: flex;
}

.work-item {
  display: inline-flex;
  flex-basis: calc((100% - 60px) / 3);
}

.work-item + .work-item {
  margin-left: var(--card-gap);
}

.work-thumb {
  display: inline-flex;
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* -----Наша команда----- */

.team-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background: var(--light-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: var(--card-gap);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-socials {
  width: 44px;
  height: 44px;
}

.team-socials:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border-radius: 50%;

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.team-soc-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.team-icon {
  fill: currentColor;
}

/* -----Постійні клієнти----- */

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-item:not(:last-child) {
  margin-right: var(--card-gap);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}

.client-link:hover {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}

.client-icon {
  fill: currentColor;
}

/* -----Футер----- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-logo.link {
  margin-bottom: 20px;
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.address-box {
  display: inline-block;
  margin-right: 70px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item > .link {
  transition: color var(--duration) var(--timing-function);
}

.footer-item > .link:hover,
.footer-item > .link:focus {
  color: var(--accent-color);
}

.social-box {
  display: inline-block;
}

/* Футер соц.сети */
.footer-slogan {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-socials {
  display: flex;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--duration) var(--timing-function);
}

.footer-soc-link:hover {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: currentColor;
}

/* -----Форма розсилки----- */

.form-subscribe {
  position: relative;
  display: inline-flex;

  margin-right: 0;
  margin-left: auto;
  min-width: 570px;
}

.field-subscribe {
  display: flex;
  flex-direction: column;
}

.label-subscribe {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.input-subscribe {
  padding: 15px 16px;
  margin-right: 12px;

  min-width: 358px;
  height: 50px;

  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border var(--duration) var(--timing-function);
}

.input-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.input-subscribe:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.btn-subscribe {
  position: absolute;
  right: 0;
  bottom: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--focus-btn-color);
}

.subscribe-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* ----------Портфолио---------- */

.project-section {
  margin-left: auto;
  margin-right: auto;

  width: 1600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

/* -----Кнопки фильтр----- */

.btn-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--light-background-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----Проекты----- */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);
}

.project-link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-thumb {
  position: relative;
  display: inline-flex;

  overflow: hidden;
}

.project-overlay {
  position: absolute;
  left: 0;
  top: 0;

  min-width: 370px;
  min-height: 294px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.project-desc {
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-info {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* -----Backdrop----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  min-width: 528px;
  min-height: 581px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--duration) var(--timing-function);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  color: var(--black-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color var(--duration) var(--timing-function);
}

.btn-close:hover,
.btn-close:focus {
  color: var(--accent-color);
}

.icon-close {
  fill: currentColor;
}

/* -----Форма----- */
.form {
  width: 100%;
  height: 100%;
}

.form-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-input {
  padding-top: 11px;
  padding-right: 12px;
  padding-left: 40px;
  padding-bottom: 11px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: inline-flex;
  fill: currentColor;

  transition: color var(--duration) var(--timing-function);
}

/* .form-input:focus + .form-icon {
  color: var(--accent-color);
} */

.form-field:focus-within .form-icon {
  color: var(--accent-color);
}

.form-comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);
  resize: none;
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;

  background-color: var(--primary-white-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: background-color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function),
    background-image var(--duration) var(--timing-function);
}

.check-input:checked + .check-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
}

.check-text {
  display: inline-flex;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.check-link {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  transition: color var(--duration) var(--timing-function);
}

.check-link:hover,
.check-link:focus {
  color: var(--focus-btn-color);
}

.check-link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  width: 100%;
  border-bottom: 1px solid var(--accent-color);

  color: var(--accent-color);
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function);
}

.form-btn:hover,
.form-btn :focus {
  background-color: var(--focus-btn-color);
}
