.client {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client__item {
  width: 170px;
  height: 92px;
}

.client__item:not(:last-child) {
  margin-right: $card-gap;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: $icon-color;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color $duration $timing-function, border $duration $timing-function;
}

.client__link:hover,
.client__link:focus {
  color: $accent-color;
  border: 1px solid $accent-color;
}

.client__icon {
  fill: currentColor;
}
