.section__nopadding {
  padding-bottom: 0;
}

.feature {
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__thumb {
  @include centeredFlex();
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: $light-background-color;
}

.feature__title {
  margin-bottom: 10px;

  @include font(null);
  text-transform: uppercase;

  color: $primary-text-color;
}

.feature__text {
  @include font(null, $lh: 1.71);

  color: $secondary-text-color;
}
