.feature__section {
  padding-bottom: 0;
}

.feature {
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: $light-background-color;
}

.feature__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-text-color;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}
