.project__section {
  margin-left: auto;
  margin-right: auto;

  width: 1600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-set {
  margin-bottom: 50px;

  @include centeredFlex();
}

.btn-set__item:not(:last-child) {
  margin-right: 8px;
}

.btn-set__filter {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  @include font($fw: 500, $fs: 16px, $lh: 1.62);

  color: $primary-text-color;
  background-color: $light-background-color;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: color $duration $timing-function, background-color $duration $timing-function,
    box-shadow $duration $timing-function;
}

.btn-set__filter:hover,
.btn-set__filter:focus,
.btn-set__filter--current {
  color: $primary-white-color;
  background-color: $accent-color;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: $card-gap;
  margin-bottom: $card-gap;
}

.project__link {
  display: block;
  transition: box-shadow $duration $timing-function;
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(0);
}

.project__thumb {
  position: relative;
  display: inline-flex;

  overflow: hidden;
}

.project__overlay {
  position: absolute;
  left: 0;
  top: 0;

  min-width: 370px;
  min-height: 294px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $duration $timing-function;
}

.project__desc {
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  @include font($fw: 400, $fs: 18px, $lh: 1.56);
  color: $primary-white-color;
}

.project__item:nth-child(3n) {
  margin-right: 0px;
}

.project__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project__info {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;

  @include font(null, $fs: 18px, $lh: 2, $ls: 0.06em);

  color: $primary-text-color;
}

.project__text {
  @include font(null, $fs: 16px, $lh: 1.88);

  color: $secondary-text-color;
}
