.team {
  display: flex;

  &__section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background: $light-background-color;
  }

  &__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 10px;

    @include font($fw: 500, $fs: 16px, $lh: 1.19);
    text-align: center;

    color: $primary-text-color;
  }

  &__text {
    margin-bottom: 16px;
    @include font($fw: null, $fs: 16px, $lh: 1.19);
    text-align: center;

    color: $secondary-text-color;
  }
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);

  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: $card-gap;
  }
}
