.work {
  display: flex;
}

.work__item {
  display: inline-flex;
  flex-basis: calc((100% - 60px) / 3);
}

.work__item:not(:last-child) {
  margin-right: $card-gap;
}

.work__thumb {
  display: inline-flex;
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;

  @include centeredFlex();

  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  @include font();
  text-align: center;
  text-transform: uppercase;

  color: $primary-white-color;
}
