.work {
  display: flex;

  &__thumb {
    display: inline-flex;
    position: relative;
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;

    @include centeredFlex();

    width: 100%;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    @include font();
    text-align: center;
    text-transform: uppercase;

    color: $primary-white-color;
  }
}

.work__item {
  display: inline-flex;
  flex-basis: calc((100% - 60px) / 3);

  &:not(:last-child) {
    margin-right: $card-gap;
  }
}
