.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $primary-white-color;
}

.address__link-cont {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item > .link {
  transition: color $duration $timing-function;
}

.address__link:hover,
.address__link:focus {
  color: $accent-color;
}

.address__link-cont:hover,
.address__link-cont:focus {
  color: $accent-color;
}
