.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
  transition: color $duration $timing-function;
}

.contact__link:hover,
.contact__link:focus {
  color: $accent-color;
}

.contact__mail-icon,
.contact__phone-icon {
  margin-right: 10px;
}

.contact__mail-icon,
.contact__phone-icon {
  fill: currentColor;
}
