.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: $background-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__thumb {
  display: inline-block;
  margin-right: 70px;
}
