.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $black-color;
}

.accent {
  color: $accent-color;
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;

  // font-family: 'Raleway', sans-serif;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;

  color: $primary-white-color;
}
