.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: $icon-color;
  border-radius: 50%;

  transition: background-color $duration $timing-function, color $duration $timing-function;
}

.social__link:hover,
.social__link:focus {
  background-color: $accent-color;
  color: $primary-white-color;
}

.social__icon {
  fill: currentColor;
}

.social__link--inverse {
  color: $primary-white-color;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color $duration $timing-function;
}

.social__link--inverse:hover,
.social__link--inverse:focus {
  background-color: $accent-color;
}
